form.oig-form{
    clear:both;
    margin:16px;
}

form input[type=text],
form input[type=number]
{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:92%;
    color:#000;
    background-color:#cddc39;
}

form label{
    color:#000;
}

form button,
form input[type=button],
form a[type=button]
{
    margin:5px;
    font-size:12px;
    padding:12px 24px;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    
}

form button.oig-lime,
form input[type=button].oig-lime,
form a[type=button].oig-lime
{
    color:#000!important;
    background-color:#cddc39!important;
}

form button.oig-green,
form input[type=button].oig-green,
form a[type=button].oig-green
{
    color:#fff!important;
    background-color:#4CAF50!important;
}

fieldset{
    border-radius:8px;
    margin:10px;
}

fieldset.control{
	border:0px;
    text-align:center;
}
